:root {
  --dark-lavender: rgb(161, 161, 252);
  --light-red: rgb(255, 95, 95);
}

html {
  font-family: "montserrat", sans-serif;
  height: 100vh;
  width: 100vw;
}

#title-container {
  background-color: var(--dark-lavender);
  color: beige;
  height: 6em;
}

#title-container h1 {
  position: relative;
  top: 25%;
  left: 2%;
}

#to-do-info-container {
  display: flex;
  position: relative;
}

#projects-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  position: relative;
  left: 0;
  background-color: lavender;
}
#default-projects {
  display: flex;
  flex-direction: column;
}

#projects-container button {
  text-align: left;
  font-size: 16px;
  padding: 1em 2em;
  border: none;
  background-color: lavender;
  cursor: pointer;
}
#custom-projects {
  display: flex;
  flex-direction: column;
}

#right-container {
  display: block;
  width: 80%;
}
#right-container-title {
  margin-left: 1em;
}

#todos-container {
  display: block;
  width: 90%;
  padding: 0.5em 2em;
}

.todo-items {
  border: none;
  border-radius: 5px;
  margin-bottom: 2px;
}

/* Todo Item Summary */

.todo-items-summary {
  display: flex;
  justify-content: space-between;
}

.summary-left-side {
  display: flex;
}

.summary-left-side h3 {
  min-width: 2em;
  max-height: 1.5em;
  align-self: center;
}
.summary-left-side h3:hover {
  border: 1px solid var(--dark-lavender);
  border-radius: 5px;
}

.summary-left-side input {
  align-self: center;
  width: 2em;
}

.summary-right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.detail-btn {
  padding: 5px;
  background-color: white;
}

/* detail info section */

.todo-items-info {
  display: flex;
  justify-content: space-between;
}

.info-left-side {
  width: 70%;
}

.item-description {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2px;
  min-width: 15px;
  max-width: 75%;
}

.priority-label {
  margin-right: 5px;
  font-size: 14px;
  font-weight: bold;
}
.priority-select {
  max-width: 6em;
}
.project-label {
  margin-left: 1em;
  margin-right: 5px;
  font-size: 14px;
  font-weight: bold;
}
.project-name {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2px;
  min-width: 8px;
  max-width: 30%;
  height: 1.5em;
  max-height: 1.5em;
}

.item-description:hover,
.project-name:hover,
.priority-select:hover {
  border: 1px solid var(--dark-lavender);
  border-radius: 3px;
}

.todo-items-info select {
  margin-left: 1em;
  margin-bottom: 0.5em;
  width: 8em;
  height: 2em;
  border: none;
  cursor: pointer;
}

.project-label {
  margin-left: 1em;
  margin-right: 5px;
  font-size: 14px;
  font-weight: bold;
}

.info-right-side {
  margin-top: 1em;
  width: 21%;
}
.info-right-side input {
  height: 2em;
  align-self: center;
  float: right;
  width: 10em;
  margin-bottom: 1em;
  margin-right: 0.5em;
}

.info-right-side button {
  height: 2em;
  text-align: center;
  float: right;
  width: 8em;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 95, 95);
  margin-right: 0.5em;
}

.hidden {
  display: none;
  opacity: 0;
}

#add-todo-btn {
  position: absolute;
  top: 3em;
  right: 4em;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  padding: 8px 18px;
  background-color: lavender;
  color: black;
  z-index: 10;
}
#add-todo-btn:hover {
  background-color: white;
}
